
input:focus{
    color:red;
}

li{
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

li:nth-of-type(even){
    background-color: beige;
}

li:nth-of-type(odd){
    background-color: grey;
    color: white;
}


li:first-of-type{
    color: chartreuse;
}

li:nth-of-type(2){
    color: blue;
}

li:nth-last-of-type(2){
    color: darkgreen;
}

li:last-child{
    color: crimson;
}

