
h1::first-letter{
    color: blue;
    font-size: 5rem;
}

p::first-letter{
    color: red;
    font-size: 5rem;
}

p::first-line{
    color: green;
}

li{
   /*margin-left: 50px;
    list-style-image: url(img.jpg);*/
    list-style: none;
}

li::before{
    content: " ";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p::selection{

    background-color: silver;
    color: springgreen;

}

